// Colors
$black: #111111;
$white: #fff;
$pastel-pink: #ffd1dc;
$brown: #4e3401;
$bright-red: rgb(233, 59, 59);
$bright-blue: rgb(77, 93, 238);
$bright-purple: rgb(159, 64, 202);
$bright-green: rgb(43, 190, 13);
