// Colors
// Black : #111111
// pastel Pink : #FFD1DC
// Brink Pink : #F95A7E

// Laoblolly : #C4CACE
// Scorpion : #595959

// yellow-brown Gradient : #E5C37F / #533802
// Black as sightlessness : same color as the first one
$black: #111111;
$white: #fff;
$pastel-pink: #ffd1dc;
$brown: #4e3401;
