// Imports
@import "colors";
// Components

// slides
.slide {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    position: relative;
    margin: auto;

    .slide__text--container {
        .slide__text--paragraph {
            font-family: "Libre Baskerville", serif;
            font-weight: bold;
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            opacity: 0;
        }
    }
}

.zoom {
    animation: zoomEffect 2.5s forwards;
}

.fade {
    animation: fade 6s forwards;
}

.girl-image, .hand, .circles {
    z-index: -1;
    width: 15%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.white-cane, .apple{
    z-index: -1;
    width: 15%;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
}

#girl-smile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

#girl-smile__path {
    fill: none;
    stroke-width: 0.2px;
    stroke: #000;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.girl-smile-animation {
    animation: dash 0.8s linear forwards;
    animation-delay: 3s;
}

//Progressbar
.progress {
    height: 10px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
                /* Pause the animation */
                animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.circles{
    display: flex;
    justify-content: space-around;
}

.circle{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 30%;
    animation: rotate360 4s linear infinite;
}

.redCircle{
    background-color: $bright-red;
}
.blueCircle{
    background-color: $bright-blue;
}
.purpleCircle{
    background-color: $bright-purple;
}
.greenCircle{
    background-color: $bright-green;
}

/*Heart animation*/
#heart
{
  position: relative;
  width: 100px;
  height: 90px;
  margin: auto;
  animation: heartbeat 1s infinite;
}

#heart:before,
#heart:after
{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: $bright-red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after
{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}