// Imports
@import "colors";
// Components

// slides
.slide {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;

    .slide__text--container {
        .slide__text--paragraph {
            font-family: "Baskerville";
            font-weight: bold;
            font-size: 3em;
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            animation: typist 2.5s steps(180) infinite; // 1 normal instead of infinite
        }
    }
}
