// Layout
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: ease-in-out 0.7s;
    scroll-behavior: smooth;
}
main {
    //scroll-snap-type: y mandatory;
}
.color-black {
    background-color: $black;
    color: $white;
}
.color-light-blue {
    background-color: #3fb3fc;
}
.color-summer-green {
    background-color: #58bc82;
}
.color-autumn {
    background-color: #f96f09;
}
.color-winter {
    background-color: #65fced;
}
.color-pastel-pink {
    background-color: $pastel-pink;
}
.color-loblolly {
    background-color: #c4cace;
}
.color-yellow-brown-gradient {
    background: rgb(229, 195, 127);
    color: $brown;
}
.animation-typist {
    animation: typist 2.5s steps(180) 1 normal;
    animation-fill-mode: both;
}
.nextSection {
    position: absolute;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: $black;
    display: block;
}
#slide2 .nextSection {
    color: $white;
}
#slide14 .nextSection {
    color: $brown;
}
#slide15 .nextSection {
    color: $white;
}
.fa-angle-double-down {
    padding: 20px;
    font-size: 2.3em;
    &:hover {
        cursor: pointer;
    }
}

.fa-angle-double-down:active {
    font-size: 2.4em;
}
