// Text
@font-face {
    // Baskerville Regular 400
    font-family: "Baskerville";
    src: url("assets/font/LibreBaskerville-Regular.ttf");
    font-weight: 400;
}
@font-face {
    // Baskerville Bold 700
    font-family: "Baskerville";
    src: url("assets/font/LibreBaskerville-Bold.ttf");
    font-weight: bold;
}
@font-face {
    // Baskerville italic 400
    font-family: "Baskerville";
    src: url("assets/font/LibreBaskerville-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
