/*@mixin typist($str) {
    
}
*/
@-webkit-keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  position: relative;
  margin: auto;
}

.slide .slide__text--container .slide__text--paragraph {
  font-family: "Baskerville";
  font-weight: bold;
  font-size: 3em;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

.zoom {
  -webkit-animation: zoomEffect 2.5s forwards;
          animation: zoomEffect 2.5s forwards;
}

.fade {
  -webkit-animation: fade 6s forwards;
          animation: fade 6s forwards;
}

@-webkit-keyframes zoomEffect {
  0% {
    width: 100%;
    opacity: 1;
  }
  50% {
    width: 50%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes zoomEffect {
  0% {
    width: 100%;
    opacity: 1;
  }
  50% {
    width: 50%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: ease-in-out 0.7s;
  transition: ease-in-out 0.7s;
  scroll-behavior: smooth;
}

main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.color-black {
  background-color: #111111;
  color: #fff;
}

.color-light-blue {
  background-color: #87cefa;
  color: #111111;
}

.color-summer-green {
  background-color: #58bc82;
}

.color-autumn {
  background-color: #f96f09;
}

.color-winter {
  background-color: #d6fffb;
}

.animation-typist {
  -webkit-animation: typist 2.5s steps(180) 1 normal;
          animation: typist 2.5s steps(180) 1 normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.nextSection {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #111111;
  display: block;
}

#slide2 .nextSection {
  color: #d6fffb;
}

.fa-angle-double-down {
  padding: 20px;
  font-size: 2.3em;
}

.fa-angle-double-down:hover {
  cursor: pointer;
}

.fa-angle-double-down:active {
  font-size: 2.4em;
}

@-webkit-keyframes typist {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes typist {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@font-face {
  font-family: "Baskerville";
  src: url("assets/font/LibreBaskerville-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Baskerville";
  src: url("assets/font/LibreBaskerville-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Baskerville";
  src: url("assets/font/LibreBaskerville-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */